@page "/"

<div class="keypad">
    <div class="keypad-body">
        <div class="keypad-screen">
            <div class="keypad-typed"></div>
        </div>
        <div class="keypad-row">
            <div class="keypad-button wide command">C</div>
            <div class="keypad-button command">CE</div>
            <div class="keypad-button operator">/</div>
        </div>
        <div class="keypad-row">
            <div class="keypad-button">7</div>
            <div class="keypad-button">8</div>
            <div class="keypad-button">9</div>
            <div class="keypad-button operator">x</div>
        </div>
        <div class="keypad-row">
            <div class="keypad-button">4</div>
            <div class="keypad-button">5</div>
            <div class="keypad-button">6</div>
            <div class="keypad-button operator">−</div>
        </div>
        <div class="keypad-row">
            <div class="keypad-button">1</div>
            <div class="keypad-button">2</div>
            <div class="keypad-button">3</div>
            <div class="keypad-button operator">+</div>
        </div>
        <div class="keypad-row">
            <div class="keypad-button">.</div>
            <div class="keypad-button">0</div>
            <div class="keypad-button">&lt;</div>
            <div class="keypad-button operator">=</div>
        </div>
    </div>
</div>

@code {

}
